.detail-event {
  margin-top: 190px;
  margin-left: 40px;
  margin-right: 40px;
}
.detail-event-image {
  height: 800px;
  border-radius: 48px;
  box-shadow: 4px 4px 16px 0px #A086B8;
  


}
.detail-event-description {
  color: #000;

  /* Desktop/Body/Regular/Body 1 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 150px;
}
