.nav-brand {
  width: 159px;
  height: 48px;
}
.active {
  color: #663C8C !important;
  border-bottom: 4px solid hsl(272, 40%, 39%);
}

.navbar-scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Change the background color as needed */
  transition: background-color 0.3s, box-shadow 0.3s;
}
.navbar-unscrolled {
  background-color: white !important; /* Change the background color as needed */
  transition: background-color 0.3s, box-shadow 0.3s;
}
.navbar-scrolled,
.navbar-unscrolled {
  padding: 16px 40px 16px 40px;
}
@media screen and (max-width:990px) {
  .navbar-scrolled,
.navbar-unscrolled {
  padding: 16px 8px 16px 20px;
}
}
